body{
  overflow-x: hidden
}
nav .container {
  width: 50%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 112px;
  background-color: #222222;
  margin: 30px 0 0 160px;
}

nav .inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

nav .text-block {
  width: 256px;
  padding: 14px 105px 15px 0;
  display: flex;
  align-items: center;
}

nav .main-text {
  width: 179px;
  height: 54px;
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: 'Prata', serif;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 1.08px;
}

nav .sub-texts {
  display: flex;
  gap: 28px;
}

nav .sub-text {
  text-align: right;
  color: white;
  margin-bottom: 8px;
  margin-left: 2px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    width: 100%;
    height: 94.95vh;
    position: relative;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .left-panel {
    width: 1180px;
    height: 1062px;
    background-color: #222222;
    position: absolute;
    left: -23px;
    top: -19px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .content {
    position: absolute;
    top: 75px;
    left: 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin-top: 150px;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  
  .placeholder {
    width: 100px;
    height: 100px;
  }
  
  .text-content h2 {
    color: white;
    font-size: 80px;
    font-family: 'Prata', serif;
    line-height: 96px;
  }
  
  .sub-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .text-content p {
    color: white;
    font-size: 50px;
    font-family: Arial, sans-serif;
    margin-top: -37px;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: -33px;
  }
  
  .stat:first-child {
    display: inline-flex;
    align-items: center;
    background-color: rgba(40, 40, 41, 0.7);
    border-radius: 4px;
    margin-top: 25px;
  }

  .stat {
    display: inline-flex;
    background-color: rgba(40, 40, 41, 0.7);
    border-radius: 4px;
    gap: 17px;
    height: 37px;
  }




  
  .text {
    display: flex;
    align-items: center;
  }
  
  .small-text,
  .large-text,
  .description {
    color: white;
    text-align: center;
  }
  
  .small-text {
    font-size: 24px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
  }
  
  .large-text {
    font-size: 40px;
    margin-right: 20px;
    font-family: 'Prata', serif;
    text-transform: uppercase;
  }
  
  .order-button {
    display: flex;
    justify-content: flex-start;
  }
  
  .order-button button {
    width: 191px;
    padding: 32px 50px;
    margin-top: -12px;
    background-color: white;
    color: #222222;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.96px;
  }
  
  .right-panel {
    width: 39.3%;
    height: 105.4vh;
    display: block;
    margin-top: -100px;
    position: absolute;
    right: 0;
    top: 0;
  }
  

.splash{
  width: 100%;
  height: 100px;
  background-color: #282829;
}
.splash2{
  width: 100%;
  height: 10vh;
  background-color: #282829;
}

.info{
  background-color: #282829;
}

.info-wrapper {
  width: 100%;
  height: auto;
  padding-right: 5px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.info-content {
  width: 100%;
  align-self: stretch;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}

.info-box {
  width: 100%;
  display: flex;
  justify-content: center; /* Центрирование всего содержимого */
  align-items: center;
  gap: 53px;
}

.info-image-left,
.info-image-right {
  height: 100%;
}

.info-image-left {
  width: 33%;
  height: 724px;
}

.info-image-right {
  width: 29.5%;
  height: 724px;
}

.info-details {
  width: 32.2%;
  height: 724px;
  flex-direction: column;
  justify-content: center; /* Центрируем блок */
  align-items: center; /* Центрируем блок по горизонтали */
  display: flex; /* Используем flex для выравнивания */
  gap: 15px;
}

.info-blocks {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  margin-top: 50px;
}

.info-block {
  width: 100%; /* Выравнивание по ширине блока */
  gap: 20px;
  align-items: flex-start; /* Выравниваем иконку и текст по центру */
  display: flex; /* Используем flex для выравнивания */
}

.info-icon {
  width: 58px;
  height: 47px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-text {
  width: 536px;
  color: white;
  font-size: 24px;
  font-family: Arial;
  font-weight: 400;
  line-height: 33.60px;
  word-wrap: break-word;
}

.info-divider {
  width: 614px;
  height: 0px;
  border: 1px #55565A solid;
}

.info-button {
  width: 100%; /* Растягиваем кнопку по ширине блока */
  padding: 25px 52px;
  background: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex; /* Центрируем кнопку */
  margin-top: auto;
}

.info-button-text {
  text-align: center;
  color: #282829;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.80px;
  word-wrap: break-word;
}

.form{
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: center;
  background-color: #282829;
}

.block {
  background-color: #FFFFFF;
  border-radius: 30px;
  display: flex;
  width: 84%;
  height: 630px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form .left {
  width: 60%;
  padding-left: 145px;
  display: flex;
  flex-direction: column;
  padding-top: 63px;
}

.form .right {
  width: 40%;
}

.form-text {
  margin-top: 5.5px;
  font-size: 52px;
  color: #38434D;
  font-family: 'Prata', serif;
  margin-bottom: 37px;
  letter-spacing: 1px;
  line-height: 1.16;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

#name, #email {
  height: 68px;
  width: 96%;
  padding: 10px;
  border: 2px solid #D6D6D6;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 5%;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;

}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 16px; /* Регулировка расстояния между чекбоксом и текстом */
  margin-top: 5px;
}

.checkbox-container label {
  font-size: 19px;
  color: #4F4F4F;
  font-family: Arial, sans-serif;
}

.custom-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #4F4F4F;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #4F4F4F;
}

.custom-checkbox:checked::before {
  content: '✔';
  position: absolute;
  left: 4px;
  font-size: 16px;
  color: white;
}


.btn {
  margin-top: 15px;
  background-color: #222222;
  color: white;
  border: none;
  height: 100px;
  width: 96%;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-form {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 329px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer .slide16926 {
  width: 100%;
  height: 329px;
  position: relative;
  background: #222222;
}

.footer .copyright {
  left: 8.4%;
  top: 76%;
  position: absolute;
  color: white;
  font-size: 1.25rem; /* responsive font size */
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer .privacy-policy {
  width: 130px;
  height: 21px;
  left: 47.8%;
  top: 77%;
  position: absolute;
  color: #D5C9BE;
  font-size: 1.25rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer .terms-of-use {
  left: 85.1%;
  top: 77%;
  position: absolute;
  color: #D5C9BE;
  font-size: 1.25rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer .rectangle-top,
.footer .rectangle-bottom {
  width: 100%;
  height: 2px;
  position: absolute;
  background: #D5C9BE;
}

.footer .rectangle-top {
  top: 30%;
}

.footer .rectangle-bottom {
  top: 0;
}

.footer .logo-container {
  height: 53px;
  left: 8.4%;
  top: 47.7%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer .logo {
  font-size: 2.25rem;
  text-align: center;
  color: white;
  font-family: Prata;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}

.footer .order-button {
  left: 81.8%;
  top: 42%;
  position: absolute;
  background: white;
  border-radius: 4px;
  padding: 1.5rem 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .order-text {
  text-align: center;
  color: #222222;
  font-size: 1.25rem;
  font-family: Arial;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.footer .menu {
  left: 37.5%;
  top: 10%;
  position: absolute;
  display: flex;
  gap: 3.1vw;
}

.footer .menu-item {
  text-align: right;
  color: white;
  font-size: 1.25rem;
  font-family: Arial;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.footer .icons-container {
  left: 41.2%;
  top: 49.9%;
  position: absolute;
  display: flex;
  gap: 1.35vw;
}

.footer .icon {
  width: 2vw;
  height: 2vw;
  position: relative;
}

.footer .icon div {
  width: 2vw;
  height: 2vw;
  position: absolute;
  border: 2px solid #D5C9BE;
}